---
const { href } = Astro.props;
---

<a
  {href}
  class="grid place-items-center h-[45px] cursor-pointer px-4 py-2 rounded-md border border-black text-neutarl-700 text-sm hover:shadow-[4px_4px_0px_0px_rgba(0,0,0)] transition duration-200"
>
  <span class="transform translate-y-[25%]">
    <slot />
  </span>
</a>
