<footer
  transition:persist
  class="border-t border-neutral-100 px-8 py-20 bg-white"
>
  <div class="mx-auto container flex justify-center">
    <div class="grid place-items-center gap-4">
      <img
        class="h-[30px]"
        src="/logo.svg"
        data-astro-source-file="/Users/c/projects/khroma/src/components/Nav.astro"
        data-astro-source-loc="8:8"
      />
      <p class="text-sm text-center">
        Let's discuss your next project, reach us at <br />
        <span class="font-bold antialiased">khroma.artlab@gmail.com</span>
      </p>
    </div>
  </div>
</footer>
